<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="head::head(${title})">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>智能粮库云平台</title>
</head>

<body>
<link rel="stylesheet" th:href="@{/css/global-20189101522.css}">
<link rel="stylesheet" th:href="@{/css/global-components.css}">
<link th:href="@{/css/home-201808292215.css}" rel="stylesheet" media="screen">
<link rel="stylesheet" type="text/css" th:href="@{/css/public.css}">
<style>
    .c-hero-icon-mod{
        width: 350px;
        height: 280px;
        margin-top: -40px;
        right: 0;
        perspective: 800px;
        background-size: cover
    }
</style>
    <div th:replace="navbar::navbar"></div>
    <div class="c-hero-section J-pdBanner ">
        <div class="c-hero-section-inner" style="padding:60px 0 0 10px">
            <div class="c-hero-section-ct" style="width:70%;float:left;">
                <h1 class="c-hero-section-tit">
                    智能安防云
                </h1>
                <div class="c-hero-section-des">
                    <p class="pc-mod">一站式安防监控平台</p>
                    <p class="m-mod">支持点位配置、实时监控、异常查询</p>
                </div>
                <div class="c-hero-section-btn">
                    <a
                            role="button"
                            href="/graindepot-bussiness/page/videoPosition"
                            class="c-btn buy  J-pdBannerBtn1"
                            hotrep="product.yuntu.overview.banner.btn1">
                        立即进入
                    </a>
                </div>
            </div>
            <div class="c-hero-icon-mod" style="float:left;width:30%;background-image: url(/images/YTbanner.png)">
            </div>
        </div>
    </div>
<div class="c-section c-p-y-short sol-recommend overflow-hidden J-sectionCharacteristic">
    <div class="c-section-inner">
        <a class="anchor"> </a>
        <ul class="c-grid c-grid-nocard-expand">
            <li class="c-g-6 s-12">
                <div class="c-media" style="cursor: pointer" onclick="doJump('/graindepot-video/page/video')">
                    <div class="c-media-img">
                        <i class="ico48 icocenter cvm"
                           style="background-image: url(/images/1-1.svg)"></i>
                    </div>
                    <div class="c-media-body">
                        <h4 class="c-media-heading"> 监控管理 </h4>
                        <p class="c-media-info">初始化库区内各监控的基本信息或硬盘录像机信息，方便后续维护。 </p>
                    </div>
                </div>
            </li>
            <li class="c-g-6 s-12">
                <div class="c-media"  style="cursor: pointer" onclick="doJump('/graindepot-bussiness/page/videoPosition')">
                    <div class="c-media-img">
                        <i class="ico48 icocenter cvm"
                           style="background-image: url(/images/1-2.svg)"></i>
                    </div>
                    <div class="c-media-body">
                        <h4 class="c-media-heading"> 点位配置 </h4>
                        <p class="c-media-info"> 基于库区地图，支持拖拽的方式将监控配置到相应点位，方便快速定位查看监控。 </p>
                    </div>
                </div>
            </li>
            <li class="c-g-6 s-12">
                <div class="c-media"  style="cursor: pointer" onclick="doJump('/graindepot-video/page/video')">
                    <div class="c-media-img">
                    <i class="ico48 icocenter cvm"
                       style="background-image: url(/images/1-3.svg)"></i>
                    </div>
                    <div class="c-media-body">
                        <h4 class="c-media-heading"> 异常追溯 </h4>
                        <p class="c-media-info"> 支持异常事件追溯，库区安全尽在掌握之中。 </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--<div class="c-section bg-color home-event-mod c-hidden-xs">
    <div class="c-section-inner">
        <div class="c-grid" role="list">
            <div class="c-g-5" role="presentation">
                <div class="home-event-item" role="presentation"><a hotrep="" href="/graindepot-video/page/video" role="listitem" target="_blank">
                    <div class="home-event-item-con"><h2 class="home-event-item-tit"><span>监控管理</span> <span class="mobile-text">监控管理</span> </h2>

                        <div class="home-event-item-txt">监控基本信息配置</div>
                    </div>
                </a></div>
            </div>
            <div class="c-g-5" role="presentation">
                <div class="home-event-item" role="presentation"><a hotrep="" href="/graindepot-bussiness/page/videoPosition" role="listitem" target="_blank">
                    <div class="home-event-item-con"><h2 class="home-event-item-tit"><span>点位配置</span> <span class="mobile-text">点位配置</span> <i class="home-event-icon-new">NEW</i></h2>

                        <div class="home-event-item-txt"> 监控点位拖放配置</div>
                    </div>
                </a></div>
            </div>
            <div class="c-g-5" role="presentation">
                <div class="home-event-item" role="presentation"><a hotrep="" role="listitem" target="_blank">
                    <div class="home-event-item-con"><h2 class="home-event-item-tit"><span>异常追溯</span> <span class="mobile-text">异常追溯</span></h2>

                        <div class="home-event-item-txt"> 有异常，随时查</div>
                    </div>
                </a></div>
            </div>
        </div>
    </div>
</div>-->
    <!--<div style="height: 436px;background: url('/images/bg4.jpg ') no-repeat;background-size:100% 500px">
        <div style="float: right"><img src="/images/jk.png"></div>
        <a class="btn btn-primary" style="margin-top:200px;margin-left:20px;border: 0;width: 150px;"
           href="/graindepot-video/page/video"  target="_blank">
            <i class="icon-cog"></i>
            监控管理
        </a>
        <br>
        <a class="btn btn-primary" style="margin-top:20px;margin-left:20px;border: 0;width: 150px;"
           href="/graindepot-bussiness/page/videoPosition" target="_blank" >
            <i class="icon-dashboard"></i>
            点位配置
        </a>
        <br>
        <a class="btn btn-primary" style="margin-top:20px;margin-left:20px;border: 0;width: 150px;"  target="_blank">
            <i class="icon-facetime-video"></i>
            异常追溯
        </a>
    </div>-->
<script type="text/javascript">

</script>
</body>
</html>

